*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* shared style */
.button{
  display: flex;
  align-items: center;
  gap: 6px;
     font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color:#30BB68 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    width: 85%;
    margin: 0px auto;
}

/* main style */
/* nav style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0px auto;
  background: #FFFFFF;
  padding: 16px 0px;
}
 .Menu {
  display: flex;
  list-style: none;
  gap: 32px;
  
}
.Menu li{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
 /* banner section*/
 .Banner {
  height: 800px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Banner-content {
  text-align: center;
}
.Banner-button{
  display: inline;
  align-items: center;
  background:#f1f5f9;
  padding:6px 6px;
  border-radius:20px;
  color:#469165;
  width: max-content;

}

.Banner-heading{
  height:8px;
  width:8px;
  background:#469165;
  border-radius:50%;
  display:inline-block;
  margin-right:6px;
 
}
.Banner-title{
    color: #FFFFFF;
    font-size: 48px;
}
.Banner-subtitles{
    color: #30B868;
}
.Banner-description{
     color: #FFFFFF;
    margin-bottom: 15px;
}
.Banner-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.button-2{
  background: none;
  border: 1px solid white;
  padding: 12px 16px;
  color: white;
}


/* main  */

/* note section */

.Notes-title {
  margin-top: 35px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.Notes-subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 44px;
  color: #627382;
}

.Notes-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
 .Note-card{
  text-align: center;
    background: #ffffff;
  padding: 35px 25px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

 .Notes-section {
  padding: 60px 0px;
  text-align: center;
  background:#FFFFFF;
}

.Note-card img{
  background-color: red;
  border-radius: 50%;
   padding: 8px;
  
}

.Note-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 10px;
}

.Note-card p {
  color: #627382;
  font-size: 16px;
  line-height: 1.6;
}




