*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* shared style */
.button{
  display: flex;
  align-items: center;
  gap: 6px;
     font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color:#30BB68 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* main style */
/* nav style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0px auto;
  background: #FFFFFF;
  padding: 16px 0px;
}
 .Menu {
  display: flex;
  list-style: none;
  gap: 32px;
  
}
.Menu li{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}